# 資料合併

_merge、concate、append_

###  參數

1. on：指定合併的欄位標籤，必須兩者皆有該欄位，預設是以兩者的欄位名稱交集作為合併後的欄位。


2. left_on：在左側的 df 中進行欄位指定。

3. right_on：在右側的 df 中進行欄位指定。

4. left_index：指定為 True 時，使用左側 `列索引` 作為連接的 Key，預設為 `False`。

5. right_index：指定為 True 時，使用右側 `列索引` 作為連接的 Key，預設為 `False`。

6. sort：合併後的資料是否排序，預設為 `True`。

7. suffixed：指定合併後的欄位名稱後綴。

8. copy：是否對資料進行複製，預設為 `True`。

先建立要用來合併的範例資料

In [6]:
import pandas as pd
import pandas as pd

# 建立左右兩個DataFrame作為後續合併使用
left = pd.DataFrame({
    'id': ['K0', 'K1', 'K2', 'K3'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})    
right = pd.DataFrame({
    'id': ['K0', 'K1', 'K2', 'K3'],
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B3', 'B4', 'B2', 'B5']
})

# 先輸出原始資料
print('left:')
print(left, '\n')
print('right:')
print(right, '\n')

left:
   id   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

right:
   id   A   B
0  K0  A4  B3
1  K1  A5  B4
2  K2  A6  B2
3  K3  A7  B5

指定欄位用來合併

In [7]:
# 指定用欄位 id 作為合併的 key
data1 = pd.merge(left, right, on='id')
data1

   id A_x B_x A_y B_y
0  K0  A0  B0  A4  B3
1  K1  A1  B1  A5  B4
2  K2  A2  B2  A6  B2
3  K3  A3  B3  A7  B5

指定兩個欄位作為合併的 key，兩個欄位都必須相同

In [10]:
data2 = pd.merge(left, right, on=['id', 'B'])
data2

   id A_x   B A_y
0  K2  A2  B2  A6

使用 concat 進行合併

In [13]:
import pandas as pd

# 建立第一個 DataFrame
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Score': [85, 88, 92]
})

# 建立第二個 DataFrame
df2 = pd.DataFrame({
    'Name': ['David', 'Eve', 'Frank'],
    'Score': [75, 89, 90]
})

# 顯示原始 DataFrame
print('第一個 DataFrame:')
print(df1)
print('\n第二個 DataFrame:')
print(df2)

# 使用 concat 合併 DataFrame
result = pd.concat([df1, df2], ignore_index=True)

# 顯示合併後的結果
print('\n合併後的 DataFrame:')
print(result)

第一個 DataFrame:
      Name  Score
0    Alice     85
1      Bob     88
2  Charlie     92

第二個 DataFrame:
    Name  Score
0  David     75
1    Eve     89
2  Frank     90

合併後的 DataFrame:
      Name  Score
0    Alice     85
1      Bob     88
2  Charlie     92
3    David     75
4      Eve     89
5    Frank     90

使用 append 進行添加

_append 已經被棄用，這裡僅作示範。_

In [14]:
import pandas as pd

# 建立第一個 DataFrame
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Score': [85, 88, 92]
})

# 建立第二個 DataFrame
df2 = pd.DataFrame({
    'Name': ['David', 'Eve', 'Frank'],
    'Score': [75, 89, 90]
})

# 顯示原始 DataFrame
print('第一個 DataFrame:')
print(df1)
print('\n第二個 DataFrame:')
print(df2)

# 使用 append 合併 DataFrame
result = df1.append(df2, ignore_index=True)

# 顯示合併後的結果
print('\n合併後的 DataFrame:')
print(result)

第一個 DataFrame:
      Name  Score
0    Alice     85
1      Bob     88
2  Charlie     92

第二個 DataFrame:
    Name  Score
0  David     75
1    Eve     89
2  Frank     90

合併後的 DataFrame:
      Name  Score
0    Alice     85
1      Bob     88
2  Charlie     92
3    David     75
4      Eve     89
5    Frank     90

/var/folders/vm/_zft15050r7cfh47y6v5z4k40000gn/T/ipykernel_97918/1684986690.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = df1.append(df2, ignore_index=True)