# 群組處理

_在 Pandas 中，groupby、agg、transform、apply、和 filter 用於數據的分組、聚合與變換操作，以下分別說明_

建立資料

In [4]:
import pandas as pd

# 建立數據，這是一個關於人員在不同城市的工資數據，藉此計算不同城市的平均工資
data = {
    'City': ['New York', 'San Francisco', 'New York', 'Los Angeles', 'San Francisco', 'Los Angeles', 'New York', 'San Francisco'],
    'Employee': ['John', 'Daisy', 'Luke', 'Ryan', 'Jordan', 'Bruce', 'Samantha', 'Tina'],
    'Salary': [100000, 70000, 85000, 90000, 120000, 95000, 110000, 115000]
}
# 展示初始數據
print('展示初始數據：')
df = pd.DataFrame(data)
print(df)

            City  Employee  Salary
0       New York      John  100000
1  San Francisco     Daisy   70000
2       New York      Luke   85000
3    Los Angeles      Ryan   90000
4  San Francisco    Jordan  120000
5    Los Angeles     Bruce   95000
6       New York  Samantha  110000
7  San Francisco      Tina  115000

### groupby

_用於將數據分組，常與聚合函數（如 sum, mean 等）結合使用來計算每個組的統計數據_

In [5]:
# 以 'City' 
grouped = df.groupby('City')

# 計算分組後的平均工資
average_salary = grouped['Salary'].mean()
# 輸出
print(average_salary)

City
Los Angeles       92500.000000
New York          98333.333333
San Francisco    101666.666667
Name: Salary, dtype: float64

### agg 

_用於在數據分組後應用一個或多個聚合操作，可以一次性計算多個聚合統計_

In [6]:
# 使用聚合方法 agg() 進行更多的操作：平均值、最小值、最大值
result = grouped['Salary'].agg(['mean', 'min', 'max'])
# 輸出
print(result)

                        mean    min     max
City
Los Angeles     92500.000000  90000   95000
New York        98333.333333  85000  110000
San Francisco  101666.666667  70000  120000

### transform

_用於對分組數據進行某種變換操作，並返回與原始數據相同大小的結果_

In [7]:
# 使用 transform() 標準化工資
# 標準化就是平均數為 0、標準差為 1 的資料集
standardized_salary = grouped['Salary'].transform(lambda x: (x - x.mean()) / x.std())
# 新增一個標準化的欄位
df['Standardized Salary'] = standardized_salary
print(df)

            City  Employee  Salary  Standardized Salary
0       New York      John  100000             0.132453
1  San Francisco     Daisy   70000            -1.149932
2       New York      Luke   85000            -1.059626
3    Los Angeles      Ryan   90000            -0.707107
4  San Francisco    Jordan  120000             0.665750
5    Los Angeles     Bruce   95000             0.707107
6       New York  Samantha  110000             0.927173
7  San Francisco      Tina  115000             0.484182

### apply 

_數據分組後可以應用一個函數到每個分組上_

In [8]:
# 使用 apply 計算每個城市工資的最大差異
salary_range = df.groupby('City')['Salary'].apply(lambda x: x.max() - x.min())
print(salary_range)

City
Los Angeles       5000
New York         25000
San Francisco    50000
Name: Salary, dtype: int64

### filter 

_使用自定義的函數來過濾數據_

In [9]:
# 使用 filter 過濾出平均工資超過 95000 的城市
high_salary_cities = df.groupby('City').filter(lambda x: x['Salary'].mean() > 95000)
print(high_salary_cities)

            City  Employee  Salary  Standardized Salary
0       New York      John  100000             0.132453
1  San Francisco     Daisy   70000            -1.149932
2       New York      Luke   85000            -1.059626
4  San Francisco    Jordan  120000             0.665750
6       New York  Samantha  110000             0.927173
7  San Francisco      Tina  115000             0.484182