建立資料

In [48]:
import pandas as pd

# 建立字典
data = {
    'data2': [13, 22, 43, 18, 66],
    'data1': [33, 27, 65, 29, 1],
    'data3': [11, 9, 13, 63, 5],
    'data4': [12, 4, 3, 17, 38],
    'data5': [31, 44, 23, 4, 51]
}

# 轉換
data_df = pd.DataFrame(data)
print('原始資料：')
print(data_df, '\n')

原始資料：
   data2  data1  data3  data4  data5
0     13     33     11     12     31
1     22     27      9      4     44
2     43     65     13      3     23
3     18     29     63     17      4
4     66      1      5     38     51

輸出為 csv，未指定檔案名稱時會輸出為字串

In [49]:
# 沒有指定等案名稱會傳回字串
_str = data_df.to_csv()
print(_str)
# 觀察資料型別
print(type(_str), '\n')

,data2,data1,data3,data4,data5
0,13,33,11,12,31
1,22,27,9,4,44
2,43,65,13,3,23
3,18,29,63,17,4
4,66,1,5,38,51

<class 'str'>

輸出為 csv 並指定檔案名稱

In [50]:
# 指定檔名後會寫入，並觀察成功寫入時不會有回傳值
_result = data_df.to_csv('data.csv')
print(f'回傳值是：{_result}')

回傳值是：None

加入日期索引

In [52]:
# 建立索引
date_index = pd.date_range('1/1/2024', periods=5)

# 指派索引
data_df.index = date_index

# 輸出
print(data_df)

            data2  data1  data3  data4  data5
2024-01-01     13     33     11     12     31
2024-01-02     22     27      9      4     44
2024-01-03     43     65     13      3     23
2024-01-04     18     29     63     17      4
2024-01-05     66      1      5     38     51

存入

In [53]:
data_df.to_csv('data_df.csv', index=True)

讀取資料

In [54]:
# 讀取資料
_csv = pd.read_csv('data_df.csv')
_csv

   Unnamed: 0  data2  data1  data3  data4  data5
0  2024-01-01     13     33     11     12     31
1  2024-01-02     22     27      9      4     44
2  2024-01-03     43     65     13      3     23
3  2024-01-04     18     29     63     17      4
4  2024-01-05     66      1      5     38     51

連續建立

In [55]:
import pandas as pd

data = {
    'data2': [13, 22, 43, 18, 66],
    'data1': [33, 27, 65, 29, 1],
    'data3': [11, 9, 13, 63, 5],
    'data4': [12, 4, 3, 17, 38],
    'data5': [31, 44, 23, 4, 51]
}

# 建立pd並添加索引
data_df = pd.DataFrame(
    data,
    index=pd.date_range('1/1/2024', periods=5)
)

# 儲存到 CSV
data_df.to_csv('data_df_2.csv', index=True)