# 檔案的讀寫

## 檔案的寫入

In [1]:
content='''Hello Python
中文字測試
Welcome'''
f=open('file1.txt', 'w' ,encoding='utf-8')
f.write(content)
f.close()

## 使用with敘述開啟檔案

In [2]:
content='''Hello Python
中文字測試
Welcome'''
with open('file1.txt', 'w' ,encoding='utf-8') as f:
  f.write(content)

## read()

In [3]:
with open('file1.txt', 'r', encoding='utf-8') as f:
  output_str=f.read(5)
  print(output_str)   # Hello

Hello

## readline()

In [ ]:
with open('file1.txt', 'r', encoding ='UTF-8') as f:
  print(f.readline())
  print(f.readline(3))

Hello Python

中文字

## readlines()

In [4]:
with open('file1.txt', 'r', encoding='utf-8') as f:
  content=f.readlines()
  print(type(content))
  print(content)

<class 'list'>
['Hello Python\n', '中文字測試\n', 'Welcome']

## BOM 的處理

In [5]:
with open('file2.txt', 'r', encoding ='UTF-8') as f:
  print(f.readlines())

['\ufeff123中文字\n', 'abcde\n', 'hello\n']

## 開啟含有BOM的檔案

In [6]:
with open('file2.txt', 'r', encoding ='UTF-8-sig') as f:
  print(f.readlines())

['123中文字\n', 'abcde\n', 'hello\n']

# csv 資料的儲存與讀取

## 將一維串列資料寫入csv檔案

In [7]:
import csv
# 開啟輸出的 csv 檔案
with open('test1.csv', 'w', newline='') as csvfile:
  # 建立 csv 檔寫入物件
  writer = csv.writer(csvfile)

  # 寫入欄位名稱
  writer.writerow(['姓名', '身高', '體重'])
  # 寫入資料
  writer.writerow(['chiou', 170, 65])
  writer.writerow(['David', 183, 78])

## 將二維串列資料寫入csv檔案

In [8]:
import csv
# 建立csv二維串列資料
csvtable = [
  ['姓名', '身高', '體重'],
  ['Chiou', 170, 65],
  ['David', 183, 78],
]
# 開啟輸出的 csv 檔案
with open('test2.csv', 'w', newline='') as csvfile:
  # 建立 csv 檔寫入物件
  writer = csv.writer(csvfile)

  # 寫入二維串列資料
  writer.writerows(csvtable)

## 將字典資料寫入csv檔案

In [9]:
import csv
with open('test.csv', 'w', newline='') as csvfile:
  # 定義欄位
  fieldnames = ['姓名', '身高', '體重']

  # 將 dictionary 寫入 csv 檔
  writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

  # 寫入欄位名稱
  writer.writeheader()
  # 寫入資料
  writer.writerow({'姓名': 'chiou', '身高': 170, '體重': 65})
  writer.writerow({'姓名': 'David', '身高': 183, '體重': 78})

## 讀取 csv 檔案為串列資料

In [10]:
import csv
# 開啟 csv 檔案
with open('test1.csv', newline='') as csvfile:
  # 讀取 csv 檔案內容
  rows = csv.reader(csvfile)
  # 以迴圈顯示每一列
  for row in rows:
    print(row)

['姓名', '身高', '體重']
['chiou', '170', '65']
['David', '183', '78']

## 讀取 csv 檔案為字典資料

In [11]:
import csv
# 開啟 csv 檔案
with open('test1.csv', newline='') as csvfile:
  # 讀取 csv 檔內容，將每一列轉成 dictionary
  rows = csv.DictReader(csvfile)    
  # 以迴圈顯示每一列
  for row in rows:
    print(row['姓名'],row['身高'],row['體重'])

chiou 170 65
David 183 78

# json 資料的儲存與讀取

## loads讀取json字串

In [12]:
import json
class_str = """
{
  "一年甲班": [
    {
      "座號": 1,
      "姓名": "葉大雄",
      "國文": 65,
      "英文": 62,
      "數學": 40
    },
    {
      "座號": 2,
      "姓名": "陳靜香",
      "國文": 85,
      "英文": 90,
      "數學": 87
    },
    {
      "座號": 3,
      "姓名": "王聰明",
      "國文": 92,
      "英文": 90,
      "數學": 95
    }
  ]
}
"""
datas = json.loads(class_str)
print(type(datas))
for data in datas["一年甲班"]:
  print(data, data['姓名'])

<class 'dict'>
{'座號': 1, '姓名': '葉大雄', '國文': 65, '英文': 62, '數學': 40} 葉大雄
{'座號': 2, '姓名': '陳靜香', '國文': 85, '英文': 90, '數學': 87} 陳靜香
{'座號': 3, '姓名': '王聰明', '國文': 92, '英文': 90, '數學': 95} 王聰明

## load讀取json檔案

In [ ]:
import json
with open('class_str.json', 'r', encoding='utf-8') as f:
  datas = json.load(f)
  print(type(datas))
  for data in datas["一年甲班"]:
    print(data, data['姓名'])

<class 'dict'>
{'座號': 1, '姓名': '葉大雄', '國文': 65, '英文': 62, '數學': 40} 葉大雄
{'座號': 2, '姓名': '陳靜香', '國文': 85, '英文': 90, '數學': 87} 陳靜香
{'座號': 3, '姓名': '王聰明', '國文': 92, '英文': 90, '數學': 95} 王聰明

## dumps輸出json字串

In [14]:
import json
with open('class_str.json', 'r', encoding='utf-8') as f:
  datas = json.load(f)
print(datas, type(datas))
dumpdata = json.dumps(datas, ensure_ascii=False)
print(dumpdata, type(dumpdata))

{'一年甲班': [{'座號': 1, '姓名': '葉大雄', '國文': 65, '英文': 62, '數學': 40}, {'座號': 2, '姓名': '陳靜香', '國文': 85, '英文': 90, '數學': 87}, {'座號': 3, '姓名': '王聰明', '國文': 92, '英文': 90, '數學': 95}]} <class 'dict'>
{"一年甲班": [{"座號": 1, "姓名": "葉大雄", "國文": 65, "英文": 62, "數學": 40}, {"座號": 2, "姓名": "陳靜香", "國文": 85, "英文": 90, "數學": 87}, {"座號": 3, "姓名": "王聰明", "國文": 92, "英文": 90, "數學": 95}]} <class 'str'>

## dump輸出json檔案

In [15]:
import json
with open('class_str.json', 'r', encoding='utf-8') as f:
  datas = json.load(f)
with open('new_class_str.json', 'w', encoding='utf-8') as f:
  json.dump(datas, f, ensure_ascii=False)

# Excel 資料儲存與讀取

## 用openpyxl模組儲存xlsx檔

In [16]:
import openpyxl   
# 建立一個工作簿     
workbook=openpyxl.Workbook()   
# 取得第 1 個工作表
sheet = workbook.worksheets[0]
# 以儲存格位置寫入資料
sheet['A1'] = '一年甲班'
# 以串列寫入資料
listtitle=['座號', '姓名', '國文', '英文', '數學']
sheet.append(listtitle)  
listdatas=[[1, '葉大雄', 65, 62, 40],
           [2, '陳靜香', 85, 90, 87],
           [3, '王聰明', 92, 90, 95]]
for listdata in listdatas:
    sheet.append(listdata)
# 儲存檔案    
workbook.save('test.xlsx')

## 用openpyxl模組讀取xlsx檔

In [17]:
import openpyxl
#  讀取檔案
workbook = openpyxl.load_workbook('test.xlsx')
# 取得第 1 個工作表
sheet = workbook.worksheets[0]
# 取得指定儲存格
print(sheet['A1'], sheet['A1'].value)
# 取得總行、列數
print(sheet.max_row, sheet.max_column)
# 顯示 cell資料
for i in range(1, sheet.max_row+1):
    for j in range(1, sheet.max_column+1):
        print(sheet.cell(row=i, column=j).value,end="   ")
    print()
sheet['A1'] = '二年甲班' 
workbook.save('test.xlsx')

<Cell 'Sheet'.A1> 一年甲班
5 5
一年甲班   None   None   None   None
座號   姓名   國文   英文   數學
1   葉大雄   65   62   40
2   陳靜香   85   90   87
3   王聰明   92   90   95

# SQLite 資料庫的操作

## 使用 cursor 物件操作資料庫

In [18]:
import sqlite3
conn = sqlite3.connect('school.db') # 建立資料庫連線
cursor = conn.cursor() # 建立 cursor 物件
# 建立一個資料表
sqlstr='''CREATE TABLE IF NOT EXISTS scores \
("id"  INTEGER PRIMARY KEY NOT NULL,
 "name"  TEXT NOT NULL,
 "chinese"  INTEGER NOT NULL,
 "english"  INTEGER NOT NULL,
 "math"  INTEGER NOT NULL
 )
'''
cursor.execute(sqlstr)

# 新增記錄
cursor.execute('insert into scores values(1, "葉大雄", 65, 62, 40)')
cursor.execute('insert into scores values(2, "陳靜香", 85, 90, 87)')
cursor.execute('insert into scores values(3, "王聰明", 92, 90, 95)')
conn.commit() # 更新
conn.close()  # 關閉資料庫連線

## 新增資料表

In [19]:
import sqlite3
conn = sqlite3.connect('school.db') # 建立資料庫連線
# 建立一個資料表
sqlstr='''CREATE TABLE IF NOT EXISTS scores2 \
("id"  INTEGER PRIMARY KEY NOT NULL,
 "name"  TEXT NOT NULL,
 "chinese"  INTEGER NOT NULL,
 "english"  INTEGER NOT NULL,
 "math"  INTEGER NOT NULL
 )
'''
conn.execute(sqlstr)
conn.commit() # 更新
conn.close()  # 關閉資料庫連線

## 新增資料

In [20]:
import sqlite3
conn = sqlite3.connect('school.db') # 建立資料庫連線
# 定義資料串列
datas = [[1,'葉大雄',65,62,40],
        [2,'陳靜香',85,90,87],
        [3,'王聰明',92,90,95]]

# 新增資料
for data in datas:
  conn.execute("INSERT INTO scores2 (id, name, chinese, english,\
   math) VALUES ({}, '{}', {}, {}, {})".format(data[0], \
   data[1], data[2], data[3], data[4]))
conn.commit() # 更新
conn.close()  # 關閉資料庫連線

## 更新資料

In [21]:
import sqlite3
conn = sqlite3.connect('school.db') # 建立資料庫連線
# 更新資料
conn.execute("UPDATE scores2 SET name='{}' WHERE id={}".format
('林胖虎', 1))
conn.commit() # 更新
conn.close()  # 關閉資料庫連線

## 刪除資料

In [22]:
import sqlite3
conn = sqlite3.connect('school.db') # 建立資料庫連線
# 刪除資料
conn.execute("DELETE FROM scores2 WHERE id={}".format(1))
conn.commit() # 更新
conn.close()  # 關閉資料庫連線

## 刪除資料表

In [23]:
conn = sqlite3.connect('school.db') # 建立資料庫連線
conn.execute("DROP TABLE scores2")
conn.close()  # 關閉資料庫連線

## 顯示scores資料表所有的資料

In [24]:
import sqlite3
conn = sqlite3.connect('school.db') # 建立資料庫連線
cursor = conn.execute('select * from scores')
rows = cursor.fetchall()
# 顯示原始資料
print(rows)
# 逐筆顯示資料
for row in rows:
  print(row[0],row[1])
conn.close()  # 關閉資料庫連線

[(1, '葉大雄', 65, 62, 40), (2, '陳靜香', 85, 90, 87), (3, '王聰明', 92, 90, 95)]
1 葉大雄
2 陳靜香
3 王聰明

## 顯示scores資料表中第一筆資料

In [25]:
import sqlite3
conn = sqlite3.connect('school.db') # 建立資料庫連線
cursor = conn.execute('select * from scores')
row = cursor.fetchone()
print(row[0], row[1])
conn.close()  # 關閉資料庫連線

1 葉大雄

# 連結Google試算表

## 安裝相關模組

In [ ]:
!pip install gspread oauth2client

## 範例：寫入Google試算表

In [ ]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials as sac
# 設定金鑰檔路徑及驗證範圍
auth_json = 'PythonConnectGsheet1-6a6086d149c5.json'
gs_scopes = ['https://spreadsheets.google.com/feeds']
# 連線資料表
cr = sac.from_json_keyfile_name(auth_json, gs_scopes)
gc = gspread.authorize(cr) 
# 開啟資料表
spreadsheet_key = '您自己的key' 
sheet = gc.open_by_key(spreadsheet_key)
# 開啟工作簿
wks = sheet.sheet1
# 清除所有內容
wks.clear() 
# 新增列
listtitle=['座號', '姓名', '國文', '英文', '數學']
wks.append_row(listtitle)  # 標題
listdatas=[[1, '葉大雄', 65, 62, 40],
           [2, '陳靜香', 85, 90, 87],
           [3, '王聰明', 92, 90, 95]]
for listdata in listdatas:
    wks.append_row(listdata)  # 資料內容