官網的範例

In [6]:
# 導入 yfinance 庫
import yfinance as yf  
# 創建一個 Ticker 物件代表微軟公司 (股票代碼：MSFT)
msft = yf.Ticker("MSFT")  

# 獲取所有股票信息
# 獲取微軟公司的所有股票信息
msft.info  

# 獲取歷史市場數據
# 獲取微軟公司過去一個月的歷史市場數據
hist = msft.history(period="1mo")  

# 顯示關於歷史數據的元信息（需要先調用 history() 方法）
# 顯示歷史數據的元信息
msft.history_metadata  

# 顯示行動（股息、分股、資本收益）
# 顯示微軟公司的所有行動（包括股息和分股）
msft.actions  
# 顯示微軟公司的股息
msft.dividends  
# 顯示微軟公司的分股
msft.splits  
# 顯示資本收益（僅限於共同基金和 ETFs）
msft.capital_gains  

# 顯示股票數量
# 從 2022 年 1 月 1 日開始的股票數量
msft.get_shares_full(start="2022-01-01", end=None)  

# 顯示財務報表：
# - 收益表
# 年度收益表
msft.income_stmt  
# 季度收益表
msft.quarterly_income_stmt  
# - 資產負債表
# 年度資產負債表
msft.balance_sheet  
# 季度資產負債表
msft.quarterly_balance_sheet  
# - 現金流量表
# 年度現金流量表
msft.cashflow  
# 季度現金流量表
msft.quarterly_cashflow  
# 更多選項見 `Ticker.get_income_stmt()`

# 顯示持有者
# 主要持有者
msft.major_holders  
# 機構持有者
msft.institutional_holders  
# 共同基金持有者
msft.mutualfund_holders  

# 顯示未來和歷史盈利日期，默認最多顯示接下來 4 個季度和最近 8 個季度的數據。
# 注意：如果需要更多數據，使用 msft.get_earnings_dates(limit=XX) 並增加 limit 參數。
msft.earnings_dates

# 顯示 ISIN 代碼 - *實驗性功能*
# ISIN = 國際證券識別碼
print(msft.isin)

# 顯示期權到期日
# 顯示微軟公司的期權到期日
print(msft.options)

# 顯示新聞
# 顯示有關微軟公司的最新新聞
print(msft.news)

# 獲取特定到期日的期權鏈
# 將 'YYYY-MM-DD' 替換為 '2023-12-15'
opt = msft.option_chain('2023-12-15')  
# 數據可通過：opt.calls, opt.puts 獲取
opt

-
('2023-12-15', '2023-12-22', '2023-12-29', '2024-01-05', '2024-01-12', '2024-01-19', '2024-01-26', '2024-02-16', '2024-03-15', '2024-04-19', '2024-05-17', '2024-06-21', '2024-07-19', '2024-09-20', '2024-12-20', '2025-01-17', '2025-06-20', '2025-12-19', '2026-01-16')
[{'uuid': '1b9c4c77-7a13-3bcb-9704-c1de0d5e6eab', 'title': '10 Most Popular Technology Stocks Among Billionaires', 'publisher': 'Insider Monkey', 'link': 'https://finance.yahoo.com/news/10-most-popular-technology-stocks-190530918.html', 'providerPublishTime': 1702235130, 'type': 'STORY', 'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/yIzxMuNTBPmljNp72IjB0g--~B/aD04MTY7dz0xNDU2O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/insidermonkey.com/9048e8b3b0db7d99f19ccbdad2029c4f', 'width': 1456, 'height': 816, 'tag': 'original'}, {'url': 'https://s.yimg.com/uu/api/res/1.2/hoJAxSgTwW1rmDv6wDhwFQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/insidermonkey.com/9048e8b3b0db7d99f19ccbdad2029c4f', 'width': 140, 'height': 140, 'tag': '140x140'}]}, 'relatedTickers': ['NVDA', 'AMD', 'MSFT', 'BABA', 'GOOG', 'MA', 'UBER', 'V', 'AMZN', 'CRM']}, {'uuid': '24a8badb-8dd2-317b-af02-b1412818c9e4', 'title': '12 Dow Stocks Billionaires Like The Most', 'publisher': 'Insider Monkey', 'link': 'https://finance.yahoo.com/news/12-dow-stocks-billionaires-most-180746813.html', 'providerPublishTime': 1702231666, 'type': 'STORY', 'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/cEvcMnl3Wvf2Eefzx3pQWA--~B/aD04MTY7dz0xNDU2O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/insidermonkey.com/db9999e4a65d2eec63912691f14fb5ad', 'width': 1456, 'height': 816, 'tag': 'original'}, {'url': 'https://s.yimg.com/uu/api/res/1.2/i.65Tv7FTvUju500eEcl6g--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/insidermonkey.com/db9999e4a65d2eec63912691f14fb5ad', 'width': 140, 'height': 140, 'tag': '140x140'}]}, 'relatedTickers': ['^DJI', 'MSFT', 'AMGN', 'AAPL', 'CSCO', 'PG', 'CVX', 'V', 'WMT', 'MRK', 'CRM']}, {'uuid': '73c2db97-3568-3460-b2ce-7e06928e1977', 'title': "One of This Year's Top-Performing Dow Stocks Could Continue Its Hot Streak in 2024", 'publisher': 'Motley Fool', 'link': 'https://finance.yahoo.com/m/73c2db97-3568-3460-b2ce-7e06928e1977/one-of-this-year%27s.html', 'providerPublishTime': 1702230300, 'type': 'STORY', 'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/l2gHxlcURHqcMohriue8Uw--~B/aD04MDE7dz0xMjAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/da718a4499b954f257512e49589aa535', 'width': 1200, 'height': 801, 'tag': 'original'}, {'url': 'https://s.yimg.com/uu/api/res/1.2/ukS6TLtBxEbBzA4Xq3EuxA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/da718a4499b954f257512e49589aa535', 'width': 140, 'height': 140, 'tag': '140x140'}]}, 'relatedTickers': ['MSFT', 'INTC']}, {'uuid': 'fa2293b1-6822-3e34-84b3-4b42011e5d9c', 'title': '14 Best Forever Stocks To Buy Now', 'publisher': 'Insider Monkey', 'link': 'https://finance.yahoo.com/news/14-best-forever-stocks-buy-161025600.html', 'providerPublishTime': 1702224625, 'type': 'STORY', 'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/y97VrnjBCUH5aHXNKFs_PA--~B/aD04MTY7dz0xNDU2O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/insidermonkey.com/d525c34dba5fb9f626187ce0704986cf', 'width': 1456, 'height': 816, 'tag': 'original'}, {'url': 'https://s.yimg.com/uu/api/res/1.2/PZHB7tjZaw.N_PUz7dKqsA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/insidermonkey.com/d525c34dba5fb9f626187ce0704986cf', 'width': 140, 'height': 140, 'tag': '140x140'}]}, 'relatedTickers': ['AAPL', 'AMD', 'BRK-B', 'ADBE', 'BABA', 'UBER', 'V', 'MA', 'MSFT']}, {'uuid': 'f1c5de0c-b3f4-3963-bbc2-5ef64a94d859', 'title': '1 Artificial Intelligence (AI) Stock Set to Join Apple, Amazon, Microsoft, Alphabet, and Nvidia in the $1 Trillion Club', 'publisher': 'Motley Fool', 'link': 'https://finance.yahoo.com/m/f1c5de0c-b3f4-3963-bbc2-5ef64a94d859/1-artificial-intelligence.html', 'providerPublishTime': 1702222500, 'type': 'STORY', 'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/686M7ahfFTVkS4oFceC8NA--~B/aD01NzA7dz0xMjAxO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/4890a10604440642b47a604704e85cab', 'width': 1201, 'height': 570, 'tag': 'original'}, {'url': 'https://s.yimg.com/uu/api/res/1.2/QSfobwUgKiysL.C75ksdAQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/4890a10604440642b47a604704e85cab', 'width': 140, 'height': 140, 'tag': '140x140'}]}, 'relatedTickers': ['META', 'MSFT', 'AAPL', 'NVDA', 'GOOG', 'AMZN']}, {'uuid': '92915497-0f41-308f-936e-bed209a8501f', 'title': "AMD's AI Superchip Is Finally Here", 'publisher': 'Motley Fool', 'link': 'https://finance.yahoo.com/m/92915497-0f41-308f-936e-bed209a8501f/amd%27s-ai-superchip-is-finally.html', 'providerPublishTime': 1702210200, 'type': 'STORY', 'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/YdjRWi1UbsxbzeN.I4hyxA--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/5fd00da444fa0fc3762e3488a0d38fad', 'width': 1920, 'height': 1080, 'tag': 'original'}, {'url': 'https://s.yimg.com/uu/api/res/1.2/TPszaApA8wQQ5TW_0D99yA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/5fd00da444fa0fc3762e3488a0d38fad', 'width': 140, 'height': 140, 'tag': '140x140'}]}, 'relatedTickers': ['AMD', 'NVDA', 'META', 'MSFT']}, {'uuid': '855e9bbe-59b9-3d01-b442-6a9688af4611', 'title': 'History Says the Nasdaq Will Surge in 2024: 1 Magnificent Artificial Intelligence (AI) Growth Stock to Buy Before It Does', 'publisher': 'Motley Fool', 'link': 'https://finance.yahoo.com/m/855e9bbe-59b9-3d01-b442-6a9688af4611/history-says-the-nasdaq-will.html', 'providerPublishTime': 1702207200, 'type': 'STORY', 'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/or9MJYkiw4mZzbnZ01zXbA--~B/aD0xNDA2O3c9MjUwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/bc464e186ea7c16e0957a12fb81e3452', 'width': 2500, 'height': 1406, 'tag': 'original'}, {'url': 'https://s.yimg.com/uu/api/res/1.2/Wyx0EmWlIokKNmXNBOXPMw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/bc464e186ea7c16e0957a12fb81e3452', 'width': 140, 'height': 140, 'tag': '140x140'}]}, 'relatedTickers': ['MSFT', 'COMP']}, {'uuid': 'd65ecce2-24d4-36a2-a917-1231ab896f9b', 'title': 'Is Microsoft (MSFT) Still a Great Investment Choice?', 'publisher': 'Insider Monkey', 'link': 'https://finance.yahoo.com/news/microsoft-msft-still-great-investment-051709512.html', 'providerPublishTime': 1702185429, 'type': 'STORY', 'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/fPYQ.bGdJzQ.MxaALvFFDg--~B/aD02Njg7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/insidermonkey.com/b5fca8d1106b22f327b2338c10eb2ab1', 'width': 1000, 'height': 668, 'tag': 'original'}, {'url': 'https://s.yimg.com/uu/api/res/1.2/.R4Ae3DIObOmypZ3yqZkUQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/insidermonkey.com/b5fca8d1106b22f327b2338c10eb2ab1', 'width': 140, 'height': 140, 'tag': '140x140'}]}, 'relatedTickers': ['MSFT', '^GSPC']}]

Options(calls=         contractSymbol             lastTradeDate  strike  lastPrice     bid  \
0   MSFT231215C00160000 2023-12-06 16:21:26+00:00   160.0     210.95    0.00
1   MSFT231215C00165000 2023-11-01 18:14:11+00:00   165.0     179.40  208.75
2   MSFT231215C00170000 2023-12-01 15:57:33+00:00   170.0     202.20    0.00
3   MSFT231215C00175000 2023-12-08 20:45:14+00:00   175.0     198.33    0.00
4   MSFT231215C00180000 2023-11-24 15:40:48+00:00   180.0     196.93    0.00
..                  ...                       ...     ...        ...     ...
85  MSFT231215C00520000 2023-11-20 19:47:00+00:00   520.0       0.01    0.00
86  MSFT231215C00525000 2023-11-10 17:53:39+00:00   525.0       0.02    0.00
87  MSFT231215C00530000 2023-11-14 15:28:57+00:00   530.0       0.01    0.00
88  MSFT231215C00535000 2023-10-20 13:40:02+00:00   535.0       0.02    0.00
89  MSFT231215C00540000 2023-11-24 14:30:08+00:00   540.0       0.02    0.00

       ask  change  percentChange  volume  openInterest  impliedVolatility  \
0     0.00     0.0            0.0       6             0           0.000010
1   211.45     0.0            0.0      10             7           4.073247
2     0.00     0.0            0.0       2             0           0.000010
3     0.00     0.0            0.0      10             0           0.000010
4     0.00     0.0            0.0       3             0           0.000010
..     ...     ...            ...     ...           ...                ...
85    0.00     0.0            0.0     234             0           0.500005
86    0.21     0.0            0.0      68           301           1.148442
87    0.00     0.0            0.0     156             0           0.500005
88    2.13     0.0            0.0     110           129           1.658205
89    0.00     0.0            0.0      15             0           0.500005

    inTheMoney contractSize currency
0         True      REGULAR      USD
1         True      REGULAR      USD
2         True      REGULAR      USD
3         True      REGULAR      USD
4         True      REGULAR      USD
..         ...          ...      ...
85       False      REGULAR      USD
86       False      REGULAR      USD
87       False      REGULAR      USD
88       False      REGULAR      USD
89       False      REGULAR      USD

[90 rows x 14 columns], puts=         contractSymbol             lastTradeDate  strike  lastPrice     bid  \
0   MSFT231215P00160000 2023-11-20 14:38:26+00:00   160.0       0.01    0.00
1   MSFT231215P00165000 2023-11-10 15:08:56+00:00   165.0       0.01    0.00
2   MSFT231215P00170000 2023-11-17 18:26:26+00:00   170.0       0.01    0.00
3   MSFT231215P00175000 2023-12-08 17:52:26+00:00   175.0       0.01    0.00
4   MSFT231215P00180000 2023-12-08 17:50:05+00:00   180.0       0.01    0.00
..                  ...                       ...     ...        ...     ...
84  MSFT231215P00520000 2023-09-26 13:39:58+00:00   520.0     204.38  190.05
85  MSFT231215P00525000 2023-08-31 19:57:13+00:00   525.0     196.96  207.10
86  MSFT231215P00530000 2023-09-20 19:49:24+00:00   530.0     207.97  200.95
87  MSFT231215P00535000 2023-09-27 18:46:51+00:00   535.0     222.10  204.05
88  MSFT231215P00540000 2023-09-22 19:40:25+00:00   540.0     221.23  210.60

       ask  change  percentChange  volume  openInterest  impliedVolatility  \
0     0.00     0.0            0.0    10.0           0.0           0.500005
1     0.22     0.0            0.0     3.0         161.0           2.671878
2     0.00     0.0            0.0     1.0           0.0           0.500005
3     0.00     0.0            0.0    34.0           0.0           0.500005
4     0.00     0.0            0.0   174.0           0.0           0.500005
..     ...     ...            ...     ...           ...                ...
84  193.25     0.0            0.0     4.0           0.0           4.994144
85  210.40     0.0            0.0     4.0           0.0           5.764407
86  204.40     0.0            0.0     1.0           0.0           5.169681
87  207.40     0.0            0.0     3.0           0.0           5.108524
88  214.40     0.0            0.0     1.0           0.0           5.269901

    inTheMoney contractSize currency
0        False      REGULAR      USD
1        False      REGULAR      USD
2        False      REGULAR      USD
3        False      REGULAR      USD
4        False      REGULAR      USD
..         ...          ...      ...
84        True      REGULAR      USD
85        True      REGULAR      USD
86        True      REGULAR      USD
87        True      REGULAR      USD
88        True      REGULAR      USD

[89 rows x 14 columns], underlying={'language': 'en-US', 'region': 'US', 'quoteType': 'EQUITY', 'typeDisp': 'Equity', 'quoteSourceName': 'Nasdaq Real Time Price', 'triggerable': True, 'customPriceAlertConfidence': 'HIGH', 'currency': 'USD', 'marketState': 'PREPRE', 'exchange': 'NMS', 'shortName': 'Microsoft Corporation', 'longName': 'Microsoft Corporation', 'messageBoardId': 'finmb_21835', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EST', 'gmtOffSetMilliseconds': -18000000, 'market': 'us_market', 'esgPopulated': False, 'regularMarketChangePercent': 0.56341726, 'regularMarketPrice': 373.04, 'firstTradeDateMilliseconds': 511108200000, 'priceHint': 2, 'postMarketChangePercent': -0.0641372, 'postMarketTime': 1702083595, 'postMarketPrice': 373.99, 'postMarketChange': -0.240021, 'regularMarketChange': 2.0899963, 'regularMarketTime': 1702069201, 'regularMarketDayHigh': 374.44, 'regularMarketDayRange': '368.28 - 374.44', 'regularMarketDayLow': 368.28, 'regularMarketVolume': 20154366, 'regularMarketPreviousClose': 370.95, 'bid': 0.0, 'ask': 0.0, 'bidSize': 8, 'askSize': 11, 'fullExchangeName': 'NasdaqGS', 'financialCurrency': 'USD', 'regularMarketOpen': 369.2, 'averageDailyVolume3Month': 24897574, 'averageDailyVolume10Day': 25474460, 'fiftyTwoWeekLowChange': 153.69, 'fiftyTwoWeekLowChangePercent': 0.70066106, 'fiftyTwoWeekRange': '219.35 - 384.3', 'fiftyTwoWeekHighChange': -11.259979, 'fiftyTwoWeekHighChangePercent': -0.029299973, 'fiftyTwoWeekLow': 219.35, 'fiftyTwoWeekHigh': 384.3, 'fiftyTwoWeekChangePercent': 48.20403, 'dividendDate': 1710374400, 'earningsTimestamp': 1698183000, 'earningsTimestampStart': 1705921140, 'earningsTimestampEnd': 1706270400, 'trailingAnnualDividendRate': 2.79, 'trailingPE': 36.112297, 'dividendRate': 3.0, 'trailingAnnualDividendYield': 0.007521229, 'dividendYield': 0.8, 'epsTrailingTwelveMonths': 10.33, 'epsForward': 12.96, 'epsCurrentYear': 11.24, 'priceEpsCurrentYear': 33.188614, 'sharesOutstanding': 7432260096, 'bookValue': 29.702, 'fiftyDayAverage': 350.3588, 'fiftyDayAverageChange': 22.681213, 'fiftyDayAverageChangePercent': 0.064737104, 'twoHundredDayAverage': 321.67636, 'twoHundredDayAverageChange': 51.363647, 'twoHundredDayAverageChangePercent': 0.15967493, 'marketCap': 2772530364416, 'forwardPE': 28.78395, 'priceToBook': 12.559424, 'sourceInterval': 15, 'exchangeDataDelayedBy': 0, 'averageAnalystRating': '1.7 - Buy', 'tradeable': False, 'cryptoTradeable': False, 'displayName': 'Microsoft', 'symbol': 'MSFT'})

如果您想使用代理伺服器下載數據

In [8]:
import yfinance as yf

tickers = yf.Tickers('msft aapl goog')

# access each ticker using (example)
tickers.tickers['MSFT'].info
tickers.tickers['AAPL'].history(period="1mo")
tickers.tickers['GOOG'].actions

                           Dividends  Stock Splits
Date
2014-03-27 00:00:00-04:00        0.0      2.002000
2015-04-27 00:00:00-04:00        0.0      1.002746
2022-07-18 00:00:00-04:00        0.0     20.000000

要將價格歷史記錄下載到一張表中

In [10]:
import yfinance as yf
data = yf.download("SPY AAPL", period="1mo")
data

[*********************100%%**********************]  2 of 2 completed

             Adj Close                   Close                    High  \
                  AAPL         SPY        AAPL         SPY        AAPL
Date
2023-11-09  182.169998  433.839996  182.410004  433.839996  184.119995
2023-11-10  186.399994  440.609985  186.399994  440.609985  186.570007
2023-11-13  184.800003  440.190002  184.800003  440.190002  186.029999
2023-11-14  187.440002  448.730011  187.440002  448.730011  188.110001
2023-11-15  188.009995  449.679993  188.009995  449.679993  189.500000
2023-11-16  189.710007  450.230011  189.710007  450.230011  190.960007
2023-11-17  189.690002  450.790009  189.690002  450.790009  190.380005
2023-11-20  191.449997  454.260010  191.449997  454.260010  191.910004
2023-11-21  190.639999  453.269989  190.639999  453.269989  191.520004
2023-11-22  191.309998  455.019989  191.309998  455.019989  192.929993
2023-11-24  189.970001  455.299988  189.970001  455.299988  190.899994
2023-11-27  189.789993  454.480011  189.789993  454.480011  190.669998
2023-11-28  190.399994  454.929993  190.399994  454.929993  191.080002
2023-11-29  189.369995  454.609985  189.369995  454.609985  192.089996
2023-11-30  189.949997  456.399994  189.949997  456.399994  190.320007
2023-12-01  191.240005  459.100006  191.240005  459.100006  191.559998
2023-12-04  189.429993  456.690002  189.429993  456.690002  190.050003
2023-12-05  193.419998  456.600006  193.419998  456.600006  194.399994
2023-12-06  192.320007  454.760010  192.320007  454.760010  194.759995
2023-12-07  194.270004  458.230011  194.270004  458.230011  195.000000
2023-12-08  195.710007  460.200012  195.710007  460.200012  195.990005

                               Low                    Open              \
                   SPY        AAPL         SPY        AAPL         SPY
Date
2023-11-09  438.470001  181.809998  433.399994  182.960007  438.429993
2023-11-10  440.929993  183.529999  433.829987  183.970001  435.980011
2023-11-13  441.329987  184.210007  438.420013  185.820007  439.230011
2023-11-14  450.059998  186.300003  446.089996  187.699997  446.320007
2023-11-15  451.380005  187.779999  448.799988  187.850006  450.109985
2023-11-16  450.559998  188.649994  448.119995  189.570007  449.220001
2023-11-17  451.420013  188.570007  449.290009  190.250000  450.239990
2023-11-20  455.130005  189.880005  450.519989  189.889999  450.529999
2023-11-21  454.130005  189.740005  451.959991  191.410004  453.179993
2023-11-22  456.380005  190.830002  453.890015  191.490005  454.980011
2023-11-24  455.500000  189.250000  454.730011  190.869995  455.070007
2023-11-27  455.489990  188.899994  454.079987  189.919998  454.649994
2023-11-28  456.269989  189.399994  453.500000  189.779999  454.079987
2023-11-29  458.320007  188.970001  454.200012  190.899994  457.149994
2023-11-30  456.760010  188.190002  453.339996  189.839996  455.480011
2023-12-01  459.649994  189.229996  455.160004  190.330002  455.769989
2023-12-04  459.119995  187.449997  454.339996  189.979996  455.600006
2023-12-05  457.589996  190.179993  454.869995  190.210007  455.260010
2023-12-06  458.839996  192.110001  454.309998  194.449997  458.809998
2023-12-07  458.899994  193.589996  456.290009  193.630005  456.910004
2023-12-08  460.750000  193.669998  457.209991  194.199997  457.459991

              Volume
                AAPL       SPY
Date
2023-11-09  53763500  83174400
2023-11-10  66133400  89462200
2023-11-13  43627500  52236100
2023-11-14  60108400  97176900
2023-11-15  53790500  77327600
2023-11-16  54412900  66665800
2023-11-17  50922700  83133200
2023-11-20  46505100  69936200
2023-11-21  38134500  49244600
2023-11-22  39617700  59394900
2023-11-24  24048300  29737400
2023-11-27  40552600  50506000
2023-11-28  38415400  62115000
2023-11-29  43014200  63146000
2023-11-30  48794400  79752700
2023-12-01  45679300  89097900
2023-12-04  43389500  72430900
2023-12-05  66628400  69793500
2023-12-06  41089700  69124700
2023-12-07  47477700  66995400
2023-12-08  53377300  83080900

若要自訂請求，將 session= 參數傳遞給 Ticker 建構函數。

In [12]:
import requests_cache
session = requests_cache.CachedSession('yfinance.cache')
session.headers['User-agent'] = 'my-program/1.0'
ticker = yf.Ticker('msft', session=session)
# The scraped response will be stored in the cache
ticker.actions

                           Dividends  Stock Splits
Date
1987-09-21 00:00:00-04:00       0.00           2.0
1990-04-16 00:00:00-04:00       0.00           2.0
1991-06-27 00:00:00-04:00       0.00           1.5
1992-06-15 00:00:00-04:00       0.00           1.5
1994-05-23 00:00:00-04:00       0.00           2.0
...                              ...           ...
2022-11-16 00:00:00-05:00       0.68           0.0
2023-02-15 00:00:00-05:00       0.68           0.0
2023-05-17 00:00:00-04:00       0.68           0.0
2023-08-16 00:00:00-04:00       0.68           0.0
2023-11-15 00:00:00-05:00       0.75           0.0

[89 rows x 2 columns]

將 requests_cache 與速率限制相結合，以避免觸發雅虎的速率限制器/阻止程序，從而損壞資料。

In [15]:
from requests import Session
from requests_cache import CacheMixin, SQLiteCache
from requests_ratelimiter import LimiterMixin, MemoryQueueBucket
from pyrate_limiter import Duration, RequestRate, Limiter
class CachedLimiterSession(CacheMixin, LimiterMixin, Session):
    pass

session = CachedLimiterSession(
    limiter=Limiter(RequestRate(2, Duration.SECOND*5)),  # max 2 requests per 5 seconds
    bucket_class=MemoryQueueBucket,
    backend=SQLiteCache("yfinance.cache"),
)

In [17]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")
data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,225.039993,225.830002,223.880005,225.240005,200.629684,91366500
2017-01-04,225.619995,226.750000,225.610001,226.580002,201.823257,78744400
2017-01-05,226.270004,226.580002,225.479996,226.399994,201.662949,78379000
2017-01-06,226.529999,227.750000,225.899994,227.210007,202.384491,71559900
2017-01-09,226.910004,227.070007,226.419998,226.460007,201.716415,46939700
...,...,...,...,...,...,...
2017-04-24,237.179993,237.410004,234.559998,237.169998,212.175217,119209900
2017-04-25,237.910004,238.949997,237.809998,238.550003,213.409821,76698300
2017-04-26,238.509995,239.529999,238.350006,238.399994,213.275589,84702500
2017-04-27,238.770004,238.949997,237.979996,238.600006,213.454529,57410300
2017-04-28,238.899994,238.929993,237.929993,238.080002,212.989304,63532800